{% extends 'main/home.html' %}

{% block content%}

<div class="row text-left">

  <div>
    <h1>Добавьте свои продукты</h1>
  </div>

  <form method="post" action="" class="form-floating">
    {% csrf_token %}

    <div class="mb-3">
      <label for="name">Название продукта</label>
      <input type="text" name="name" class="form-control" id="name" required>
    </div>

    <div class="mb-3">
      <label for="name">Описание продукта</label>
      <input type="text" name="description" class="form-control" id="name" required>
    </div>

    <div class="mb-3">
      <label for="name">Категория</label>
      <input type="text" name="category" class="form-control" id="name" required>
    </div>

    <div class="mb-3">
      <label for="name">Цена в $</label>
      <input type="text" name="price" class="form-control" id="name" required>
    </div>

    <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Добавить продукт</button>
  </form>

  {% endblock %}