{% extends 'main/home.html' %}

{% block content%}
<div class="row text-center">

  <div>
    <h1>Istheimstore магазин где вы сможете найти все айти-штучки</h1>
  </div>

  <a class="btn btn-primary mb-5" href="{% url 'create_product' %}">Добавить продукт</a>


  {% for object in object_list %}
  <div class="col-3">
    <div class="card mb-4 box-shadow">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ object.title }}</h3>
          <h4 class="card-title pricing-card-title">{{ object.price }} $</h4>
          <img src="/media/{{object.image}}" alt="Card image">
          <p class="card-text">
            {{ object.description }}
          </p>
          <a href="{% url 'product' object.id %}" class="btn btn-primary">Купить</a>
          <a href="{% url 'update_product' object.pk %}" class="btn btn-secondary mb-4">Изменить</a>
          <a href="{% url 'delete' object.pk %}" class="btn btn-danger">Удалить</a>
        </div>
      </div>
    </div>
  </div>
  {% if forloop.counter|divisibleby:"4" and not forloop.last %}
</div>
<div class="row text-center">
  {% endif %}
  {% endfor %}
</div>
{% endblock %}